*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.active_img_thumbnail,.img-thumbnail:hover{
    border: 2px solid #f2f2f2;
    transition: all 0.5 ease;
    border-radius: 4px;
}
.img-thumbnail{
    border: 1px solid transparent;
   margin-top: 10px;

}
.thumbnail-images {
    overflow-y: scroll;
    max-height: 400px;
    scrollbar-width: thin; /* Firefox: use thin scrollbar */
    scrollbar-width: 1px !important; /* Firefox: use thin scrollbar */
    scrollbar-color:  #0283C0 #faf7f7; /* Firefox: thumb color and track color */
}

/* WebKit browsers (Chrome, Safari, etc.) */
.thumbnail-images::-webkit-scrollbar {
    width: 1px !important; /* Width of the scrollbar */
    scrollbar-width: 1px !important; /* Firefox: use thin scrollbar */

}

.thumbnail-images::-webkit-scrollbar-thumb {
    background-color: #d30707; /* Thumb (scroll handle) color */
    width: 1px !important;
    scrollbar-width: 1px !important;
    height: 5px;

}

.thumbnail-images::-webkit-scrollbar-track {
    background-color: #faf7f7; /* Scrollbar track (background) color */
    width: 1px !important;
}

.thumbnail-images::-webkit-scrollbar-button {
    display: none !important; /* Hide the scrollbar arrows */
    box-shadow: none !important; /* Remove any inset shadows */
}


.thumbnail-images::-webkit-scrollbar-thumb:hover {
    background-color: #0283C0; /* Darken thumb color on hover */
}

.prod-img-cont{
    width: 100%;
    justify-content: space-between;
    align-items: start;
}
.star-rate p{
    padding-top: 20px;
}
.star-rate i{
    color: #EAB308;
}
.star-rate span{
    padding-left: 10px;
    color: #0283C0;
}
.color-selector-cont{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    margin-top: 20px;
}
.product-style-text{
    color: #808080;
}
.selector-text-bold{
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
}
.selector-selected-color{
 border-radius: 50%;
 background: #EAB308;
 border: 1px solid #2b2b2b;
 width: 40px;
 height: 40px;
 margin: 0px 20px;
}
.selector-selected-color-name{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;

}
.color-button-cont{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 400px;
}
.color-button{
margin: 6px;
width: 30px;
height: 30px;
border: 1px solid #808080;
margin: 5px 5px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.color-button i{
font-size: 25px;
color: #ffff;
}
.color-button:hover{
 outline: 2px solid #29A6FF;
 width: 30px;
height: 30px;
border: 1px transparent;
transition: all 0.5 ease;
}
.color-button.white {
    background-color: #FFFFFF; /* White */
}

.color-button.gray {
    background-color: #808080; /* Gray */
}

.color-button.m-gray {
    background-color: #A9A9A9; /* Medium Gray */
}

.color-button.d-gray {
    background-color: #696969; /* Dark Gray */
}

.color-button.d-heather {
    background-color: #BEBEBE; /* Dark Heather (light grayish color) */
}

.color-button.forest-green {
    background-color: #228B22; /* Forest Green */
}

.color-button.black {
    background-color: #000000; /* Black */
}

.color-button.l-pink {
    background-color: #FFB6C1; /* Light Pink */
}

.color-button.red {
    background-color: #FF0000; /* Red */
}

.color-button.cardinal-red {
    background-color: #C41E3A; /* Cardinal Red */
}




.customise-button-cont{
    width: fit-content;
    padding: 20px;
}

.customise-button{
    width: fit-content;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    color: #ffff;
    background-color: #0283C0;
    font-weight: 600;
}

.customise-button:hover{
    background-color: #016694;
}

.decoration-cont{
 margin-top: 20px;
 margin-bottom: 20px;
}

.decoration-cont h5{
 padding-bottom: 15px;
 font-weight: 600;
 font-size: 18px;
}

.decoration-method{
   background-color: #F1F5F9;
   border-radius: 10px;
   padding: 10px;
   width: fit-content;
}
.decoration-method p{
 font-weight: 600;
 font-size: 16px;
}
.decoration-method span{
font-weight: 400;
padding-top: -20px;
}



/* Individual button colors */
.white {
    background-color: #FFFFFF;
}

.gray {
    background-color: #808080;
}

.medium-gray {
    background-color: #A9A9A9;
}

.dark-gray {
    background-color: #696969;
}

.dark-heather {
    background-color: #4B3D3D;
}

.forest-green {
    background-color: #228B22;
}

.black {
    background-color: #000000;
}

.light-pink {
    background-color: #FFB6C1;
}

.red {
    background-color: #FF0000;
}

.cardinal-red {
    background-color: #C8102E;
}

.sky-blue {
    background-color: #87CEEB;
}

.navy-blue {
    background-color: #000080;
}

.olive-green {
    background-color: #808000;
}

.sandy-beige {
    background-color: #F4A460;
}

.coral {
    background-color: #FF7F50;
}

.lavender {
    background-color: #E6E6FA;
}

.salmon {
    background-color: #FA8072;
}

.turquoise {
    background-color: #40E0D0;
}

.maroon {
    background-color: #800000;
}

.gold {
    background-color: #FFD700;
}

.plum {
    background-color: #DDA0DD;
}


body{
    overflow-x: hidden;
}


/* product design page */
.top-header-cont{
background: #f2f2f2;
height: 60px;
display: flex;
flex-direction: column;
width: 100%;
}
/* .top-header-cont::-webkit-scrollbar{
    display: none;
} */
.inner-top-header{
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 80px;

}
.menu-num-icon{
    width: fit-content;
    height: fit-content;
    background: #B4B8C1;
    color: #fff;
    padding: 2px 6px ;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-right: 6px;

}
.menu-active:hover::before {
    width: 100%;
}
.top-header-menu:hover .menu-num-icon {
    background: #27a6ff;
}
.top-header-menu:hover .top-header-link {
    color: #27a6ff;
    font-weight: 500;
}
.menu-active .menu-num-icon{
    background: #27a6ff;
    transition: all 0.5s ease;

}
.menu-active .top-header-link{
    color: #27a6ff;
    font-weight: 500;
}
.top-header-menu::before {
    content: ""; /* Necessary to make the pseudo-element appear */
    width: 0%;
    height: 3px;
    background-color: #27a6ff;
    position: absolute;
    bottom: 0; /* Position it at the top of the .top-header-menu */
    left: 0; /* Align it with the left edge */
    transition: all  0.5s ease;
    border-radius: 20px;
    box-shadow: 0 0 12px 1px #27a6ff; /* Box shadow with the same color */
}
.menu-active::before {
    width: 100%;
}
.top-header-menus-cont{
 display: flex;
 justify-content: start;
 align-items: center;
 list-style: none;
 height: 100%;
}
.top-header-menu{
  padding: 10px 10px;
  cursor: pointer;
  height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px 5px;
}
.top-header-link{
text-decoration: none;
text-transform: uppercase;
color: #2b2b2b;
font-size: 14px;
font-weight: 500;
letter-spacing: 1.5px;
transition: all 0.5s ease;

}
.top-header-chat{
    cursor: pointer;
    height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      margin: 0px 5px;

}
.right-menu-cont{
    padding: 10px ;

}
.top-header-chat:nth-child(1){
    border-right: 1px solid #cecbcb;
    padding-right: 20px;
}
.top-header-chat-link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top-header-chat-link i{
    font-size: 25px;
    color: #27a6ff;
}
.top-header-link i{
    font-size: 20px;
    margin-right: 5px;
}
.top-header-chat-text,.top-header-call-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}
.top-header-chat-text,.top-header-call-text span:nth-child(1){
    color: #27a6ff;
    font-size: 18px;
    font-weight: 600;
}
.top-header-chat-text span:nth-child(2){
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin-left: 5px;
}
.top-header-call-text span:nth-child(2){
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}
.top-header-chat-text span:nth-child(2)::before{
content: "";
position: absolute;
left: -10px;
top: 30%;
width: 6px;
height: 6px;
border-radius: 50%;
background-color: #228B22;
}


/* side menus */
.side-menu-cont{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 80px;
    height: 100%;
    box-shadow: 3px 0 12px 0 rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}
.aside-logo-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}
.aside-logo-cont img{
    max-width: 60%;
}
.aside-menu-list{
width: 100%;
height: 100%;
}
.aside-menu-list ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aside-menu-list ul li{
   border-radius: 5px;
   width: 100%;
}
.aside-menu-list ul li:hover a{
    color: #27a6ff;
}
.aside-menu-list ul li:hover svg{
    fill: #27a6ff;
}
.aside-menu-active{
    background: #27a6ff;
    box-shadow: 0 0 12px 1px #27a6ff;

}

.aside-menu-list ul li a {
    color: #060606; /* Default text color */
    text-decoration: none; /* Remove underline from links */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 6px 10px; /* Add padding for spacing */
}

.aside-menu-active a {
    color: #ffff !important; /* Change text color for active links */
}

.aside-menu-list ul li a svg {
    fill: #1d1c1c; /* Default fill color for SVG icons */
    width: 30px; /* Set width for SVG icons */
    margin-bottom: 10px; /* Space between the icon and the text */
}

.aside-menu-active a svg {
    fill: #fffefe !important; /* Change SVG fill color for active links */
}

.bottom-menu-cont
{
    background: #ffff;
    box-shadow: 3px 0 12px 0 rgba(0, 0, 0, .1);
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.inner-footer
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}
.next-btn{
    border: none;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 20px;
    background: #27a6ff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
}
.save-btn{
    border: none;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #29A6FF;
    color: #29A6FF;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
